<%- include('partials/header') %>

<body class="llb">
<div class="section-title">
  <h2>Registration Form</h2>
</div>  
<div ><div class="container mt-5 ">
    <div class="row justify-content-center">
      <div class="col-8">
        <div class="card">
          <div class="card-body">
  
            <!-- Makes POST request to /login route -->
            <form action="/register" method="POST">
              <div class="form-group">
                <label for="name">Your full name</label><br>
                <input type="text" name="name" class="form-control" id="name" required/>
              </div>

              <div class="form-group">
                <label for="contact">Contact Number</label><br>
                <input type="tel" name="contact" class="form-control" id="contact" required />
              </div>

              <div class="form-group">
                <label for="Age">Age</label><br>
                <input type="number" name="Age" class="form-control" id="Age" required />
              </div>

              <div class="form-group">
                <label for="blood_grp">Blood Group</label><br>
                <input type="text" name="blood_grp" class="form-control" id="blood_grp" required />
              </div>

              <div class="form-group">
                <label for="email">Email ID</label><br>
                <input type="email" name="username" class="form-control" id="username" required />
              </div>

              <div class="form-group">
                <label for="Password">Password</label><br>
                <input type="text" name="password" class="form-control" id="password" required />
              </div>

              <div class="form-group">
                <label for="address">Residential Address</label><br>
                <input type="text" name="address" class="form-control" id="address" required/>
              </div>

              <div class="form-group">
                <label for="Adhaar_no">Adhaar card number</label><br>
                <input type="number" name="Adhaar_no" class="form-control" id="Adhaar_no" required/>
              </div>

              <div class="form-group">
                  <label for="address">Do you have any EMERGENCY (yes/no)</label><br>
                  <input type="text" name="emergency" class="form-control" id="address" required/>
                 <p>If yes, give reason </p>
                 <textarea type="text" rows="4" name="reason" class="form-control" id="reason" placeholder=".." ></textarea>
              </div>

              <div class="form-group">
                <label for="disease">Any disease?</label><br>
                <input type="text" name="disease" class="form-control" id="disease" required/>
              </div>
              
              <button type="submit" class="btn btn-dark">Register</button>
            </form>
  
          </div>
        </div>
      </div>
  
    </div>
  </div></div>

<%- include('partials/footer') %>
